---
import { Patron } from "@static/images";
import Layout from "../layouts/Layout.astro";
import { Contact as ContactModule } from "@modules/Contact";
import { Hero } from "@modules/Hero";
import { Footer } from "@modules/Footer";
---

<Layout
    title="Cybernetic | Homepage"
    description="YOUR META DESCRIPTION FOR SEO"
>
    <main class="page-content">
        <Hero
            heroType="ParallaxImage"
            client:load
            data={{
                image: Patron.src,
                content: {
                    title: "Contacto",
                    paragraph:
                        "¡Hola! ¿Estás listo para dar el siguiente paso en tu cuidado personal o explorar oportunidades de colaboración comercial? Ponte en contacto conmigo para agendar tu cita o discutir cómo podemos trabajar juntos para impulsar tu marca. ¡Espero conocerte pronto! 👋",
                },
            }}
        />
        <ContactModule client:load />
    </main>
    <Footer />
</Layout>
