---
import { HeroSlider1, HeroSlider3 } from "@static/images";
import Layout from "../layouts/Layout.astro";
import { Hero } from "@modules/Hero";
---

<Layout
    title="Cybernetic | Homepage"
    description="YOUR META DESCRIPTION FOR SEO"
>
    <main class="page-content">
        <Hero
            client:load
            heroType="fullPageSlider"
            data={[
                {
                    subtitle: "Mayo.25.2024",
                    title: "Makeup 101",
                    background: HeroSlider1,
                    videoBackground: true,
                    paragraph:
                        "Es una guía esencial que te lleva de la mano a través de los fundamentos del maquillaje, desde la preparación de la piel hasta la creación de looks impresionantes. ¿Lo mejor? Es accesible para todos, desde principiantes hasta expertos en belleza. Con Makeup 101, la confianza y la creatividad se desatan, permitiéndote descubrir tu propio estilo único.",
                    button: {
                        text: "Inscribirse",
                        link: "https://codexcode.store/themes/cybernetic-website-template",
                    },
                },
                {
                    subtitle: "Mayo.15.2024",
                    title: "Ondas 101",
                    background: HeroSlider3.src,
                    paragraph: "",
                    button: {
                        text: "Take a look",
                        link: "/infinite",
                    },
                },
            ]}
        />
    </main>
</Layout>
